<html>

<%- include('../includes/head') %>

<body>
  <div>
    <div class="container">
      <%- include('../includes/nav') %>
      <div class="jumbotron" style="text-align: center;">
        <img src="/thx.jpg">
      </div>
      <%- include('../includes/footer') %>
    </div>
  </div>
</body>

</html>