<!-- views/pages/index.ejs -->

<!doctype html>
<html lang="en">
<%- include('../includes/head') %>

<body>
  <div class="container">
    <br/>
    <div class="jumbotron">
      <p style="text-align: center;">
        <b>Home-based Bodyweight Exercise Program Generator</b>
        <br/>
        <br/>
        <br/>
        By YuanDian Zheng, Haoyu Li, Kevin Gao, Paul M. Gallo, FACSM
      </p>
      <div id="next-btn" style="padding:30px; text-align: center;"><a type="button" href="/consent" class="btn btn-success">Start</a></div>
    </div>
    <%- include('../includes/footer') %>
  </div>
</body>

</html>